<mat-toolbar>
  <span class="fill-space"></span>
  <span class="fill-space"></span>
  <button *ngIf="(currentUser | async)?.uid" mat-raised-button (click)="logout()" color="accent">Logout</button>
  <button *ngIf="!(currentUser | async)?.uid" mat-raised-button (click)="loginGoogle()" color="warn">Login with Google!</button>
</mat-toolbar>

<div class="mat-typography container">
  <div *ngIf="(currentUser | async)?.uid; then authenticated else guest"></div>
</div>

<ng-template #authenticated>
  <app-tasks-list></app-tasks-list>
</ng-template>

<ng-template #guest>
  <p>Login to see your tasks!</p>
</ng-template>
